
[data-rs-theme="blog"] {
    --rs-font-family-title: ui-sans-serif, system-ui,
 -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    --rs-font-family-body: ui-sans-serif,
 system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji; 
--rs-font-weight-regular: 400;
--rs-font-weight-medium: 500;
--rs-font-weight-semibold: 600;
--rs-font-weight-bold: 700;
--rs-font-weight-heavy: 800
;
--rs-font-weight-black: 900;
--rs-font-size-title-1: 96px;
--rs-line-height-title-1: 100px;
--rs-font-family-title-1: var(--rs-font-family-title);
--rs-font-weight-title-1: var(--rs-font-weight-heavy);
--rs-font-size-title-2: 80px;
--rs-line-height-title-2: 84px;
--rs-font-family-title-2: var(--rs-font-family-title);
--rs-font-weight-title-2: var(--rs-font-weight-heavy);
--rs-font-size-title-3: 64px;
--rs-line-height-title-3: 68px;
--rs-font-family-title-3: var(--rs-font-family-title);
--rs-font-weight-title
-3: var(--rs-font-weight-heavy);
--rs-font-size-title-4: 56px;
--rs-line-height-title-4: 60px;
--rs-font-
